* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-family: "Inter", sans-serif;
}
.container {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
}

/* title */
.title {
  text-align: center;
  margin: 0 auto;
  width: 42%;
}
.title h5 {
  color: #ff6b81;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.title h1 {
  font-size: 35px;
  font-weight: 800;
  margin-bottom: 20px;
  line-height: 45px;
}
.title p {
  font-size: 15px;
  color: #777;
}
/* header section */
header {
  background-color: #ff6b81;
  color: white;
  padding: 20px;
}

/* menu section */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .logo {
  width: 160px;
}
nav .logo img {
  max-width: 100%;
}
/* nav .navbar{} */
nav .navbar a {
  text-decoration: none;
  color: white;
  padding: 5px;
  margin: 7px;
  font-size: 18px;
}
nav .navbar a:hover {
}
/* nav .headerbtn{} */
nav .headerbtn button {
  color: white;
  border: 2px solid white;
  background: transparent;
  font-size: 18px;
  padding: 8px 15px;
  border-radius: 6px;
}
nav .headerbtn button:hover {
  color: #ff6b81;
  border: 2px solid white;
  background: white;
  transition: 0.5s;
}

/* banner section */
.banner {
}
.banner .banner-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.banner .banner-content .banner-text {
  flex-basis: 40%;
}
.banner .banner-content .banner-text h1 {
  font-size: 38px;
  font-weight: 800;
  line-height: 50px;
  margin-bottom: 15px;
}
.banner .banner-content .banner-text p {
  line-height: 25px;
  margin-top: 30px;
  font-size: 18px;
  margin-bottom: 40px;
}
.banner .banner-content .banner-text .banner-btn1 {
  color: #ff6b81;
  border: 2px solid white;
  background: white;
  font-size: 18px;
  padding: 10px 18px;
  border-radius: 6px;
}
.banner .banner-content .banner-text .banner-btn1:hover {
  background: #ff6b81;
  color: white;
  transition: 0.5s;
}
.banner .banner-content .banner-text .banner-btn2 {
  color: white;
  border: 2px solid white;
  background: transparent;
  font-size: 18px;
  padding: 10px 18px;
  border-radius: 6px;
}
.banner .banner-content .banner-text .banner-btn2:hover {
  background: white;
  color: #ff6b81;
  transition: 0.5s;
}
.banner .banner-content .banner-img {
  flex-basis: 60%;
}
.banner .banner-content .banner-img img {
  max-width: 100%;
}

/* feature section */
.feature {
  padding-top: 50px;
  background-color: #f9f9f9;
  padding-bottom: 50px;
}

.feature-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 60px;
}
.feature-card {
  width: 27%;
  height: 200px;
  margin-bottom: 20px;
  box-shadow: rgba(149, 157, 165, 0.349) 0px 8px 24px;
  padding: 20px;
  border-radius: 8px;
}
.feature-card:hover {
  transform: translateY(-10px);
  transition: 0.5s;
}
.feature-card i {
  height: 60px;
  width: 60px;
  background: #ff6b81;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.feature-card h1 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
}
.feature-card p {
  font-size: 15px;
  color: #777;
  margin: 0;
}

/* trusted section */
.trusted {
  background-color: #ff6b81;
  padding: 50px 0;
  margin: 50px 0;
  text-align: center;
  color: white;
}
.t-container {
  /* width: 60%; */
}
.trusted h1 {
  font-size: 35px;
  margin-bottom: 10px;
}
.trusted p {
  font-size: 15px;
  margin-bottom: 35px;
}
.t-nubmer {
  display: flex;
  justify-content: center;
}
.t-div {
  margin-right: 75px;
  margin-left: 75px;
  margin-top: 60px;
}
.t-div h2 {
  font-size: 35px;
}
.t-div p {
}
